@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
:root
{
    --red:#fa8b8b;
    --green:#7eba94;
    --blue:#9bc6f0;
    --l-green:#78cfca;
    --yellow:#ffdc99;
    --white:#fff8eb;
    --purple:#C0BFFA;
    --pink:#df9cff;


}

html
{
    background-color: var(--yellow);

background-image: radial-gradient(#2dc264 0.65px, var(--yellow) 0.65px);
background-size: 13px 13px;
font-family: 'Quicksand', sans-serif;
}