.createTask {
  width: 100%;
  height: 80%;
  background: var(--l-green);
  display: flex;
  position: absolute;
  left: 0%;
  justify-content: center;
  top: 60%;
  z-index: -1;
  opacity: 0;


  .img
  {
  top: -2rem;

    transform: scale(0.3);

  }

  .input
  {
    top: 16rem;
  }
  .t_btn
  {
    top: -8px;
  }
  .btn_img
  {
    transform: scale(0.6);
  }
}
#h-img {
  top: -2rem;
  transform: scale(0.3);
}
#n-img {
  top: -2.4rem;
  transform: scale(0.3);
}
#d-img {
  top: -1rem;
  transform: scale(0.34);
  left: -0.5rem;
}
#a-img {
  @extend #d-img;
  top: -0.5rem;
}
.active
{
  top:20%;
  z-index: 0;
  opacity: 1;
}